@tailwind base;
@tailwind components;
@tailwind utilities;

.our-red {
    color: red;
}

.our-grey {
    color : grey;
}

.our-green{
    color: green;
}

.our-blue {
    color: blue;
}

.our-background{
    background-color: grey;
}

.our-light-grey-background{
    background-color: lightgrey;
}

.our-width {
    width: 1300px;
}